# 1.Create a dataset with 10 million records, 5 well labelled fields including a date column

In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
# set seed for reproducibility to ensure that random operations produces same result every time the code is run.

np.random.seed(0)
random.seed(0)

In [4]:
# define list of names

names = ['John', 'Linus', 'Jane', 'Ava', 'Brown', 'Moore', 'Wilson', 'Amy','James', 'Sarah']

In [5]:
# define column names and data types .

start_date = '2020-01-01'             
data = {
    'id': np.arange(1, 10_000_001),
    'date':
pd.date_range(start=start_date, periods=10_000_000, freq='min'),
    'name': [f"{random.choice(names)}" for _ in range(10_000_000)],
    'age': np.random.randint(18,80, size=10_000_000),
    'employed': np.random.choice([True,False], size=10_000_000)
}

In [6]:
# to check array length(optional)

for key, value in data.items():
    print(f"{key}: {len(value)}")

id: 10000000
date: 10000000
name: 10000000
age: 10000000
employed: 10000000

In [7]:
# convert it to a dataframe

df = pd.DataFrame(data)

In [8]:
df

               id                date    name  age  employed
0               1 2020-01-01 00:00:00  Wilson   62     False
1               2 2020-01-01 00:01:00  Wilson   65     False
2               3 2020-01-01 00:02:00    John   71      True
3               4 2020-01-01 00:03:00   Brown   18     False
4               5 2020-01-01 00:04:00   James   21      True
...           ...                 ...     ...  ...       ...
9999995   9999996 2039-01-05 10:35:00   Sarah   60     False
9999996   9999997 2039-01-05 10:36:00     Ava   52     False
9999997   9999998 2039-01-05 10:37:00     Ava   61     False
9999998   9999999 2039-01-05 10:38:00    Jane   44     False
9999999  10000000 2039-01-05 10:39:00   James   32     False

[10000000 rows x 5 columns]

In [9]:
# lets save it to csv

df.to_csv('10_million_records.csv', index=False)